@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" style="padding-bottom:10px">
    <div class="row">
        <div class="col-md-3 vertical-align">
            STORAGE
        </div>
        <div class="col-md-7 text-right">
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-md-1 text-right">
            <button type="button" class="btn btn-success float-left">Announce Host</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <span id="poolCapacityLabel" class="StatValue">Offline</span>
                <h5 class="StatLabelSmall"> Connectability</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <span id="NetDiffLabel" class="StatValue">0 TB</span>
                <h5 class="StatLabelSmall">Total Storage</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <span id="MinersLabel" class="StatValue">0.0000</span>
                <h5 class="StatLabelSmall">Storage Revenue</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <span id="poolBalanceLabel" class="StatValue">0</span>
                <h5 class="StatLabelSmall">Contract Count</h5>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" style="top:100px">
            It looks like you don't have any storage added.
        </div>
        <div class="col-md-12 text-center" style="top:110px">
            <button type="button" class="btn btn-default">Add a folder</button>
        </div>
    </div>
</div>
