<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KRATE.WUI</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div class="w-75 p-3 text-center" style="background-color: #564378; color:white;">KRATE GUI</div>

    <div id="wrapper">



        <!-- Sidebar -->
        <div id="sidebar-wrapper">


            <ul class="sidebar-nav" style="margin-left:0;">
                <li class="sidebar-brand">

                <li>
                    <img src="~/images/kratelogo.png" alt="krate" class="img-responsive center-block" width="96" height="62" />
                </li>
                <li>
                    <a a asp-page="/Index"><i class="fa fa-sort-alpha-asc " aria-hidden="true"> </i> <span style="margin-left:10px;">Storage</span>  </a>
                </li>
                <li>
                    <a asp-page="/Send"> <i class="fa fa-play-circle-o " aria-hidden="true"> </i> <span style="margin-left:10px;"> Send</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span style="margin-left:10px;"> Receive</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-font" aria-hidden="true"> </i> <span style="margin-left:10px;"> Transactions</span> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-info-circle " aria-hidden="true"> </i> <span style="margin-left:10px;">Mining </span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-comment-o" aria-hidden="true"> </i> <span style="margin-left:10px;"> Masternodes</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-comment-o" aria-hidden="true"> </i> <span style="margin-left:10px;"> Community</span> </a>
                </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->
        <div class="container-fluid">
            <div>
                <div class="col-sm-4" style="
    padding-top:30px;
    padding-left:50px;
    ">
                    <img src="~/images/locked.png" alt="k" class="rounded float-left" width="20" height="20" />
                    <img src="~/images/line.png" alt="line" class="rounded float-left" width="20" height="20" />
                    <img src="~/images/circle2.png" onclick="self.close()" alt="k" class="rounded float-right" width="20" height="20" />
                </div>
                <div class="col-sm-4 text-center"><h1>&nbsp;</h1></div>
                <div class="col-sm-4 text-center" style="padding-top:30px;">Syncing</div>

            </div>
        </div>
        <hr>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - KRATE.WUI</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
